<ion-view view-title="个人中心">
      <ion-content class="has-header">
        <div class="my_banner">
            <div class="my_top plr30 t-c">
                <div class="oper t-r">
                    <a href="" class="pos_r" ui-sref="User_message({id:User_message})"><i class="icon-le-my-news fz22 le-c39"></i><span class="cir pos_a BgRed bor-r le-c3f fz11">6</span></a>
                    <a href="" class="pl20"><i class="icon-le-stting fz22 le-c39"></i></a>
                </div>
                <a href="" class="myHead mt40"><img src="image/my_head.png" alt="" class="bor-r"></a>
                <p class="myName fz16 t-c">李晓们</p>
                <a href="" class="MyCommonweal BgWhite plr50 le-cr fz14 bor-r50 inline">
                    <i class="icon-le-public fz14"></i>
                    我的公益：<sapn>6</sapn>小时
                </a>
            </div>
            <div class="my_bot p30">
                <div class="row_bot">
                    <a href="" class="mb20 BgWhite t-c mr20 pos_r" ui-sref="User_ranking({id:User_ranking})">
                        <div class="">
                            <img src="image/samundot_log.png" alt="" class="pos_a" style="top:1.08rem;">
                            <p class="fz-ml le-c36 pos_a">
                                排名：<span class="le-cf76">NO.1</span>
                            </p>
                        </div>
                    </a>
                    <a href="" class="mb20 BgWhite t-c pos_r">
                        <div class="">
                            <i class="icon-le-activity fz42 le-cy pos_a" style="top:0.64rem;"></i>
                            <p class="fz-ml le-c36 pos_a">
                                我发起的(<span>1</span>)
                            </p>
                        </div>
                    </a>
                </div>
                <div class="row_bot">
                    <a href="" class="mb20 BgWhite t-c mr20 pos_r" ui-sref="User_like({id:User_like})">
                        <div class="">
                            <i class="icon-le-Like fz40 le-cf76 pos_a" style="top:0.72rem;"></i>
                            <p class="fz-ml le-c36 pos_a">
                                我喜欢的(<span>1</span>)
                            </p>
                        </div>
                    </a>
                    <a href="" class="mb20 BgWhite t-c pos_r">
                        <div class="">
                            <i class="icon-le-Activity-par fz42 le-c7fd pos_a" style="top:0.56rem;"></i>
                            <p class="fz-ml le-c36 pos_a">
                                我参与的(<span>1</span>)
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div> 
      </ion-content>
</ion-view>