<ion-view view-title="我喜欢的">
      <ion-content>
         <div class="like_list list BgWhite pl30">
            <a href="" class="like_item item">
              <img src="image/bg-img.jpg" alt="" class="like_item_img bd bor-c3e bor-r3 mr20">
              <div class="">
                  <h2 class="like_item_title fz15 ell"><span class="title_name le-cr">［志愿活动］</span>环保e族 · 绿色生活”系列环保公益活动启动</h2>
                  <p class="like_item_cur fz14 le-c36">周五大集 Friday Market Beijing</p>
                  <p class="like_item_cur fz14 le-c36">已报名21人~</p>
              </div>
            </a>
            <a href="" class="like_item item">
              <img src="image/bg-img.jpg" alt="" class="like_item_img bd bor-c3e bor-r3 mr20">
              <div class="">
                  <h2 class="like_item_title fz15 ell"><span class="title_name le-cr">［志愿活动］</span>环保e族 · 绿色生活”系列环保公益活动启动</h2>
                  <p class="like_item_cur fz14 le-c36">周五大集 Friday Market Beijing</p>
                  <p class="like_item_cur fz14 le-c36">已报名21人~</p>
              </div>
            </a>
            <a href="" class="like_item item">
              <img src="image/bg-img.jpg" alt="" class="like_item_img bd bor-c3e bor-r3 mr20">
              <div class="">
                  <h2 class="like_item_title fz15 ell"><span class="title_name le-cr">［志愿活动］</span>善意之行 · 清凉之夏</h2>
                  <p class="like_item_cur fz14 le-c36">环境保护</p>
                  <p class="like_item_cur fz14 le-c36">已报名21人~</p>
              </div>
            </a>
         </div>
      </ion-content>
</ion-view>