<ion-view view-title="我的信息">
      <ion-content class="BgWhite">
        <div class="my_message list pl30">
            <a href="" class="my_message_item block ptb30">
                <h2 class="fz16 le-c33 To_examine">
                    <span class="icon-le-comment icon_comment mr20 fz12 le-c3f Bg_cfa pos_r bor-r5"><b class="cir BgRed pos_a bor-r"></b></span>群组审核信息
                </h2>
                <div class="">
                    <p class="fz14 le-c33">扶贫赈灾小组管理员审核通过</p>
                    <p class="fz12 le-c39">2016-08-16 14:23:23</p>
                </div>
            </a>
            <a href="" class="my_message_item block ptb30">
                <h2 class="fz16 le-c33 To_examine">
                    <span class="icon-le-comment icon_comment mr20 fz12 le-c3f Bg_cfa pos_r bor-r5"><b class="cir BgRed pos_a bor-r"></b></span>群组审核信息
                </h2>
                <div class="none">
                    <p class="fz14 le-c33">扶贫赈灾小组管理员审核通过</p>
                    <p class="fz12 le-c39">2016-08-16 14:23:23</p>
                </div>
            </a>
            <a href="" class="my_message_item block ptb30">
                <h2 class="fz16 le-c33 To_examine">
                    <span class="icon-le-comment icon_comment mr20 fz12 le-c3f Bg_cfa pos_r bor-r5"><b class="cir BgRed pos_a bor-r"></b></span>群组审核信息
                </h2>
                <div class="none">
                    <p class="fz14 le-c33">扶贫赈灾小组管理员审核通过</p>
                    <p class="fz12 le-c39">2016-08-16 14:23:23</p>
                </div>
            </a>
        </div>
      </ion-content>
</ion-view>