<ion-view view-title="排行榜">
      <ion-content class="has-header ranking_Bg">
        <div class="my_ranking_banner plr20">
            <div class="pers_pub_wel">
                <div class="pers_pub_wel_rank">
                    <a href="" class="fl">
                        <img src="image/my_head.png" alt="" width="45" height="45" class="bor-r fl"/>
                        <h2 class="pl20 inline le-c3f">
                            <p class="fz16 lh76 ptb20">李小萌</p>
                            <p class="fz14">公益时长6小时</p>
                        </h2>
                    </a>
                    <h3 class="fz15 fr le-c3f"><span class="fz28">12</span> 名</h3>
                </div>
                <p class="cumulative fz16 le-c3f bor-r50 t-c">汇点累计公益时长 <b>66</b> 小时</p>
            </div>
            <div class="ranking_list BgWhite bor-r20 pl30">
                <ul class="list">
                    <li>
                        <a href="" class="block">
                            <img src="image/my_head.png" alt="" width="45" height="45" class="bd-c3d bor-r fl"/>
                            <h2 class="pl20 inline">
                                <p class="fz16 pt5">白雾</p>
                                <p class="fz12 le-c39">公益时长32小时</p>
                            </h2>
                            <span class="fr ptb25 Ranking_cur"><img src="image/one.png" alt="" width="19"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="block">
                            <img src="image/my_head.png" alt="" width="45" height="45" class="bd-c3d bor-r fl"/>
                            <h2 class="pl20 inline">
                                <p class="fz16 pt5">白雾</p>
                                <p class="fz12 le-c39">公益时长32小时</p>
                            </h2>
                            <span class="fr ptb25 fz15 le-c33 Ranking_cur"><img src="image/two.png" alt="" width="19"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="block">
                            <img src="image/my_head.png" alt="" width="45" height="45" class="bd-c3d bor-r fl"/>
                            <h2 class="pl20 inline">
                                <p class="fz16 pt5">白雾</p>
                                <p class="fz12 le-c39">公益时长32小时</p>
                            </h2>
                            <span class="fr ptb25 fz15 le-c33 Ranking_cur"><img src="image/tre.png" alt="" width="19"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="block">
                            <img src="image/my_head.png" alt="" width="45" height="45" class="bd-c3d bor-r fl"/>
                            <h2 class="pl20 inline">
                                <p class="fz16 pt5">白雾</p>
                                <p class="fz12 le-c39">公益时长32小时</p>
                            </h2>
                            <span class="fr ptb25 fz15 le-c33 Ranking_cur">4</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      </ion-content>
</ion-view>