<ion-view view-title="评论">
      <ion-content>
        <!-- 下拉刷新 -->
        <ion-refresher on-refresh="vm.Lyx_LoadMore(1)"></ion-refresher>
         <div class="comment_list list BgWhite pl30">
            <a href="" class="comment_item item">
              <img src="image/my_head.png" alt="" class="comment_item_img bd bor-c3e bor-r">
              <div class=""><h2 class="comment_item_name fz16">白雾</h2>
              <p class="comment_item_time fz12 le-c39"><span>今天 16:1</span></p></div>
              <p class="comment_item_content fz15 le-c36 ell_no">跟着大家益起来~</p>
            </a>
            <a href="" class="comment_item item">
              <img src="image/my_head.png" alt="" class="comment_item_img bd bor-c3e bor-r">
              <div class=""><h2 class="comment_item_name fz16">白雾</h2>
              <p class="comment_item_time fz12 le-c39"><span>今天 16:1</span></p></div>
              <p class="comment_item_content fz15 le-c36 ell_no">支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持支持！！~</p>
            </a>
            <a href="" class="comment_item item">
              <img src="image/my_head.png" alt="" class="comment_item_img bd bor-c3e bor-r">
              <div class=""><h2 class="comment_item_name fz16">白雾</h2>
              <p class="comment_item_time fz12 le-c39"><span>今天 16:1</span></p></div>
              <p class="comment_item_content fz15 le-c36 ell_no">跟着大家益起来~</p>
            </a>
         </div>
         <!-- <div class="comment_input BgWhite plr30 bdt-h bor-ce7">
            <div class="comment_text fl fz17">
              <textarea placeholder="有什么想说的话"></textarea>
            </div>
            <button class="comment_btn button bor-r50 BgRed fz15 le-c3f">发送</button>
         </div> -->
      </ion-content>
      <div class="bar bar-footer p0 block">
          <div class="comment_input BgWhite plr30 bdt-h bor-ce7">
              <div class="comment_text fl fz17">
                <textarea placeholder="有什么想说的话"></textarea>
              </div>
              <button class="comment_btn button bor-r20 BgRed fz15 le-c3f">发送</button>
           </div>
      </div>
</ion-view>
</body>
</html>