<ion-view view-title="活动报名">
    <ion-content>
        <div class="activity_sign_up pl20 pr30 pb30 BgWhite clear">
            <div class="pt42 pb28 bdb-h fz14">
              <span class="le-c33">联系电话</span>
              <label class="inline"><input type="text" placeholder="请填写联系电话"></label>
            </div>
            <div class="pt33 pb26 bdb-h fz14">
              <span class="le-c33">可担当</span>
              <div class="fr">
                <label class="pl70 le-c36"><input type="checkbox">摄影师</label>
                <label class="pl70 le-c36"><input type="checkbox">撰稿师</label>
              </div>
            </div>
            <div class="pl10 fz14">
              <span class="block ptb30 le-c33">可提供的服务</span>
              <div class="">
                <textarea class="activity_textarea bd p21 fz14" placeholder="请输入可提供的服务"></textarea>
              </div>
            </div>
         </div>
         <div class="add_friends plr20">
            <h2 class="add_title fz14 le-c39">添加亲友<a href="" class="fr le-cr">添加</a></h2>
            <div class="BgWhite bor-r3 friends_list">
              <h3 class="friends_list_title plr20 fz14 le-c33 bdt-h bor-c3d">
                亲友1<a href="javascript:;" class="fr icon-le-remove fz16 le-c39"></a>
              </h3>
              <div class="fz14 le-c39 plr20 bdb-h bor-cea">
                <span>姓名</span>
                <label class=""><input type="text" value="" name="" class="fz14 le-c33" placeholder="请输入姓名" /></label>
              </div>
              <div class="fz14 le-c39 plr20 bdb-h bor-cea">
                <span>性别</span>
                <label class="fr">
                  <label><input type="radio" name="gender">男</label>
                  <label><input type="radio" name="gender">女</label>
                </label>
              </div>
              <div class="fz14 le-c39 plr20">
                <span>身份证号</span>
                <label><input type="text" value="" name="" placeholder="请输入身份证号" /></label>
              </div>
            </div>
         </div> 
    </ion-content>
    <div class="bar bar-footer p0">
        <div class="sign_up_b bdt-h bor-ce7">
          <button class="sign_up_btn fz16 le-c3f BgRed bor-r50">立即报名</button>
        </div>
    </div>
</ion-view>