<ion-view view-title="群组">
      <ion-content>
         <div class="group_list">
              <ul class="list clear">
                  <li class="item bor-r5 BgWhite mb20" ui-sref="Group_details({id:1})">
                      <img src="image/img2.png" alt="">
                      <div class="item_text">
                        <p class="fz15 le-c33">扶贫赈灾小组</p>
                        <p class="fz12 le-c39">让爱的接力棒，永远传递下</p>
                        <p class="fz12 le-c39 tr"><i class="icon-le-my"></i>  邢秋硕</p>
                      </div>
                  </li>
                  <li class="item bor-r5 BgWhite mb20" ui-sref="Group_details({id:2})">
                      <img src="image/img1.png" alt="">
                      <div class="item_text">
                        <p class="fz15 le-c33">扶贫赈灾小组</p>
                        <p class="fz12 le-c39">让爱的接力棒，永远传递下</p>
                        <p class="fz12 le-c39 tr"><i class="icon-le-my"></i>  邢秋硕</p>
                      </div>
                  </li>
                  <li class="item bor-r5 BgWhite mb20">
                      <img src="image/img1.png" alt="">
                      <div class="item_text">
                        <p class="fz15 le-c33">扶贫赈灾小组</p>
                        <p class="fz12 le-c39">让爱的接力棒，永远传递下</p>
                        <p class="fz12 le-c39 tr"><i class="icon-le-my"></i>  邢秋硕</p>
                      </div>
                  </li>
                  <li class="item bor-r5 BgWhite mb20">
                      <img src="image/img2.png" alt="">
                      <div class="item_text">
                        <p class="fz15 le-c33">扶贫赈灾小组</p>
                        <p class="fz12 le-c39">让爱的接力棒，永远传递下</p>
                        <p class="fz12 le-c39 tr"><i class="icon-le-my"></i>  邢秋硕</p>
                      </div>
                  </li>
              </ul>
         </div>
      </ion-content>
</ion-view>