<ion-view view-title="群组信息">
      <ion-content class="has-header has-footer">
         <div class="detail BgWhite">
            <img src="image/bg-img.jpg" err-src="images/default-medal.png" class="wh">
            <div class="detail_text pl">
              <h2 class="detail_title fz18 le-c33">扶贫赈灾小组</h2>
              <p class="fz14 le-c39 mb20">让爱的接力棒，永远传递；让爱圣火，永不熄灭。</p>
              <p class="fz14 le-c39 pb30"><i class="icon-le-my"></i><span class="">邢秋硕</span></p>
            </div>
         </div>
         <div class="int mt15 BgWhite">
              <h2 class="fz16 le-c33"><span class="bor_L mt10"></span>群组介绍</h2>
              <p class="fz-ml le-c36">8月18日，爱佑“赋能社公益行业中层管理者训练营”首期班在北京正式启动！这是继4月“赋能社CEO培训课程”结束后，专门针对公益机构中层打造的管理课程。</p>
              <p class="fz-ml le-c36">“赋能社”为了精准定位公益行业中层管理者的培养计划，通过在线问卷、360度访谈，对目标中层进行了信息摸底及实际现状调。</p>
         </div>
      </ion-content>
      <div class="add_group bar bar-footer p0">
        <button class="button BgRed fz17 le-c3f">申请加入群组</button>
      </div>
</ion-view>