<div class="sidebar ">
    <!--sam-Main-Menu-->

    <div class="sidebar-collapse">
        <div class="sidebar-header t-center">
            <span><img class="text-logo" src="assets/img/logo1.png"><i class="fa fa-space-shuttle fa-3x blue"></i></span>
        </div>
        <div class="sidebar-menu">
            <ul class="nav nav-sidebar">
                <!--菜单-->
                <sam-Menu ng-repeat="t in vm.Menus.list"></sam-Menu>
                <!--菜单end-->
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">

        <div class="sidebar-brand">
            Proton
        </div>

        <ul class="sidebar-terms">
            <li><a href="index.html#">Terms</a></li>
            <li><a href="index.html#">Privacy</a></li>
            <li><a href="index.html#">Help</a></li>
            <li><a href="index.html#">About</a></li>
        </ul>

        <div class="copyright text-center">

            <button type="button" class="btn btn-xs btn-default" ng-click="vm.switchLanguage()">切换语言</button>

            <!--<small>Proton <i class="fa fa-coffee"></i> from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></small>-->
        </div>
    </div>

</div>