<div class="main">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i>{{'测试过滤器'| samTest : 'aaa'}} </h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="fa fa-laptop"></i>Dashboard</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success btn-lg" ng-click="vm.clickToOpen(1)">弹框</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.clickToOpen(2)">消息1</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.clickToOpen(3)">消息2</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.clickToOpen(4)">消息3</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.clickToOpen(5)">消息4</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.oncfpLoadingBar(5)">进度条</button>
    </div>
</div>