<div class="main">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i>{{'测试过滤器'| samTest : 'aaa'}} </h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="fa fa-laptop"></i>Dashboard</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <pre>
               递归循环调用
               templateurl 为循环调用的 页面 地址 页面中也含有 sam-Tree 实现了递归调用的 作用
               但是一定要含有 ng-if 的一个退出 不然就会出现死循环的情况
               
               &lt;sam-Tree templateurl="templates/Dome/Tree.html" ng-repeat="t in vm.Menus"&gt;  &lt;/sam-Tree&gt;
            </pre>
        </div>
        <div class="col-lg-12">
            <div class="tree ">
                <h1>点击节点事件输出查看控制台</h1>
                <ul>
                    <!--templateurl 递归调用的地址 -->
                    <sam-Tree-Node templateurl="templates/Dome/Tree.html" ng-repeat="t in vm.Menus"></sam-Tree-Node>
                </ul>
            </div>
        </div>
    </div>
</div>