<ion-view view-title="新闻详情">
      <ion-content>
        <div class="news_detail BgWhite">
           <h1 class="news_detail_title fz18 lh58">
                爱佑赋能社的公益感召力 公益人一起get新技能!
           </h1>
           <p class="fz12 le-c39 lh60 bdb-h bor-c3e pb5">
                <i class="icon-le-my"></i><span class="pl5">秦雪迪</span>
                <i class="icon-le-time pl28"></i><span class="pl5">2016-09-02</span>
           </p>
           <div class="news_detail_Img w"><img src="image/bg-img.jpg" alt="" class="w mtb22" /></div>
           <div class="news_detail_content fz-ml le-c36">
               <p class="t2 lh48">8月18日，爱佑“赋能社公益行业中层管理者训练营”首期班在北京正式启动！这是继4月“赋能社CEO培训课程”结束后，专门针对公益机构中层打造的管理课程。</p>
                <p class="t2 lh48">“赋能社”为了精准定位公益行业中层管理者的培养计划，通过在线问卷、360度访谈，对目标中层进行了信息摸底及实际现状调研。在深入调研的基础上，爱佑"赋能社"秉承系统培养的初衷，定制了专门针对公益机构中层的系统化四阶课程，分别为“创业管理者角色认知与转变”、“高效执行的金钥匙”、“打造高绩效团队”、“用互联网思维打造最牛</p>
           </div>
               
           </p>

        </div>
      </ion-content>
</ion-view>