<ion-view view-title="捐赠详情">
    <ion-content>
        <div class="detail BgWhite">
            <img src="image/bg-img.jpg" err-src="images/default-medal.png" class="wh">
            <div class="detail_text pl">
              <h2 class="detail_title fz18 le-c33">把炽热的爱送给孩子们</h2>
              <div class="prog pos_r">
                <div class="progress pos_r fl">
                  <p class="progress_bar pos_a"></p>
                </div>
                <span class="pos_a">75%</span>
              </div>
              <div class="ptb15 fz14">
                <p class="inline" style="width:49%">
                  <span class="le-c39 col-75">已筹款：<i class="le-cg">￥100.00</i></span>
                </p>
                <p class="inline" style="width:49%">
                  <span class="le-c39 col-75"><i>128</i>人支持</span>
                </p>
              </div>
            </div>
         </div>
         <div class="zhichi mt15 BgWhite pl50 pb30">
           <h2 class="fz16 le-c33"><span class="bor_L mt10"></span>支持者</h2>
            <ion-slide-box show-pager="false" loop="true" class="slide_box">
                  <ion-slide style="{left:1*100+''px}">
                      <div class="box">
                        <img src="image/bg-img.jpg" alt="" class="bor-r">
                        <p class="fz14 le-c33 t-c">David</p>
                      </div>
                  </ion-slide>
                  <ion-slide style="{left:2*100+''px}">
                      <div class="box">
                        <img src="image/bg-img.jpg" alt="" class="bor-r">
                        <p class="fz14 le-c33 t-c">David</p>
                      </div>
                  </ion-slide>
                  <ion-slide>
                      <div class="box">
                        <img src="image/bg-img.jpg" alt="" class="bor-r">
                        <p class="fz14 le-c33 t-c">David</p>
                      </div>
                  </ion-slide>
                  <ion-slide>
                      <div class="box">
                        <img src="image/bg-img.jpg" alt="" class="bor-r">
                        <p class="fz14 le-c33 t-c">David</p>
                      </div>
                  </ion-slide>
                  <ion-slide>
                      <div class="box">
                        <img src="image/bg-img.jpg" alt="" class="bor-r">
                        <p class="fz14 le-c33 t-c">David</p>
                      </div>
                  </ion-slide>
                  <ion-slide>
                      <div class="box">
                        <img src="image/bg-img.jpg" alt="" class="bor-r">
                        <p class="fz14 le-c33 t-c">David</p>
                      </div>
                  </ion-slide>
                  <ion-slide>
                      <div class="box">
                        <img src="image/bg-img.jpg" alt="" class="bor-r">
                        <p class="fz14 le-c33 t-c">David</p>
                      </div>
                  </ion-slide>
                  <ion-slide>
                      <div class="box">
                        <img src="image/bg-img.jpg" alt="" class="bor-r">
                        <p class="fz14 le-c33 t-c">David</p>
                      </div>
                  </ion-slide>
            </ion-slide-box>
         </div>
         <div class="int mt15 BgWhite">
              <h2 class="fz16 le-c33"><span class="bor_L mt10"></span>项目简介</h2>
              <p class="fz-ml le-c36">夏日的阳光照着大地，让爱心在队员心中成长让温馨在敬老院中传播。</p>
         </div>
         <div class="int mt15 BgWhite">
              <h2 class="fz16 le-c33"><span class="bor_L mt10"></span>项目介绍</h2>
              <p class="t2 fz-ml le-c36">2016年7月10日，星期日，高温蓝色预警，天气持续炎热。你我同行慈善义工服务队带领育才小学三八班的同学来到启蕊康复中心，给周末不能回家的智障孩子们包饺子。</p>
              <p class="t2 fz-ml le-c36">这次活动，学生和家长一共20多人。大家早早来到中心，家长们开始分工：有的买菜，有的买鸡蛋，有的买肉馅，有的买佐料，还有的给孩子们买矿泉水。不到九点，队员们就开始洗菜的洗菜，拌肉馅的拌肉馅，还有和面的，孩子们也都一起忙碌着。</p>
              <p class="t2 fz-ml le-c36">天很热，但他们就要把这炽热的爱送给康复中心的孩子们。</p>
              <div class="stop t-c fz-ml le-c36"><i class="icon-le-arrow-bottom deg180"></i>收起</div>
         </div>
         <div class="int sign_up mt15 BgWhite">
              <h2 class="fz16 le-c33"><span class="bor_L mt10"></span>募捐事项</h2>
              <p class="fz-ml le-c36">募捐时间<span>2016年08月25日起永久有效</span></p>
              <p class="fz-ml le-c36">目标金额<span>无上限</span></p>
              <p class="fz-ml le-c36">&nbsp;&nbsp;&nbsp;已筹款<span>210元</span></p>
              <p class="fz-ml le-c36">&nbsp;&nbsp;&nbsp;联系人<span>秦雪迪</span></p>
              <p class="fz-ml le-c36">联系方式<span>13467892345</span></p>
              <p class="fz-ml le-c36">活动地点<span>北京大学</span></p>
              <p class="fz-ml le-c36">档位说明<span>无</span></p>
              <div class="stop t-c fz-ml le-c36"><i class="icon-le-arrow-bottom deg180"></i>收起</div>
         </div>
         <div class="int project_debfing mt15 BgWhite">
              <h2 class="fz16 le-c33"><span class="bor_L mt10"></span>项目进展</h2>
              <ul class="project_debfing_list">
                  <li class="pos_r">
                      <i class="icon-cur bor-r pos_a"></i>
                      <h2 class="fz14">拜访捐赠对象<span class="fz12 le-c39 t2 inline">2016.11.02</span></h2>
                      <img src="image/bg-img.jpg" alt="">
                  </li>
                  <li class="pos_r">
                      <i class="icon-cur bor-r pos_a"></i>
                      <h2 class="fz14">拜访捐赠对象<span class="fz12 le-c39 t2 inline">2016.11.02</span></h2>
                      <img src="image/bg-img.jpg" alt="">
                  </li>
              </ul>
         </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="foot p0">
        <div class="footer_tab tabs tabs-icon-top bor-ce7">
            <a class="tab-item " ng-init="flag=false" ng-click="flag=!flag">
              <i class="icon icon-le-like fz18 " ng-class="{'icon-le-Like le-cr':flag==true}"></i>
              <p class="fz12 le-c39">喜欢</p>
            </a>
            <a class="tab-item">
              <i class="icon icon-le-share fz18"></i>
              <p class="fz12 le-c39">分享</p>
            </a>
            <a class="tab-item pos_r" ui-sref="Activity_comment({id:1})">
              <i class="icon icon-le-comment fz18"></i>
              <p class="fz12 le-c39">评论</p>
              <span class="comment_num pos_a BgRed fz10 le-c3f tc bor-r5">99+</span>
            </a>
            <a class="baoming block" ui-sref="Donation_zhifu({id:1})" >
              <button class="BgRed baoming_btn fz17 le-c3f">捐款</button>
            </a>
        </div>
    </ion-footer-bar>
</ion-view>