<ion-view view-title="捐款">
      <ion-content>
         <div class="zhifu_banner">
            <div class="zhifu_content BgWhite mt20 flex">
                <img src="image/bg-img.jpg" alt="">
                <div class="content_text">
                  <h2 class="fz-ml le-c36">善行之风·清凉义夏</h2>
                  <p class="fz14 le-c39 ell">
                    8月，红色主题活动再掀浪潮。北京市慈善义工联合会将指导各
                  </p>
                </div>
            </div>
            <div class="zhifu_money BgWhite mt20">
                <div class="money_btn clear">
                    <a href=""><i>5</i>元</a>
                    <a href=""><i>15</i>元</a>
                    <a href=""><i>25</i>元</a>
                    <a href=""><i>35</i>元</a>
                </div>
                <div class="money_input">
                  <label>
                      <input type="text" value="" placeholder="其他金额" name="" class="fz14"/>
                      <span class="fz14 le-c36">元</span>
                  </label>
                </div>
                <div class="anonymou">
                  <label class="checkbox inline fl p0 mr21">
                     <input type="checkbox" class="minming_check">
                  </label>
                  <span class="fz14 le-c39 block" style="line-height:15px">匿名捐款</span>
                </div>
            </div>
            <div class="zhifu_list BgWhite mt20">
                <label class="item item-radio bd-none">
                  <input type="radio" name="group" value="weixin" checked="checked">
                  <div class="item-content fz-ml le-c36">
                    <img src="image/weixin.png" alt="" class="mr21" />微信支付
                  </div>
                  <i class="radio-icon icon-le-check-mark fz18 le-cg"></i>
                </label>
            </div>
         </div>
      </ion-content>
  `   <div class="bar bar-footer plr30">
          <div class="sign_up_b bdt-h bor-ce7">
            <p class="fz17 le-c36 fl">需支付：<span class="le-cr">¥ 50.00 </span></p>
            <a class="zhifu_btn fz15 le-c3f BgRed bor-r50 mtb20 fr">去捐款</a>
          </div>
      </div>
</ion-view>