<li class="parent_li">
    <input type="checkbox" ng-model="t.Selected" ng-click="vm.onClickCheckbox(t)">
    <span class="badge badge-success" ng-bind="t.MenuName"></span>
    <div class="MenuAuths">

        <label class="checkbox-inline" ng-repeat="ma in t.MenuAuths">
  <input type="checkbox"  ng-model="ma.Selected"  ng-click="vm.onClickCheckbox(t)"> {{ma.Value}}
</label>

    </div>
    <ul ng-if='t.Menus.length>0'>
        <sam-Tree-Node templateurl="templates/Sys/AuthorityManage/Tree.html" ng-repeat="t in t.Menus"></sam-Tree-Node>

    </ul>
</li>